/* HeroSection.css */

.hero-section {
    position: relative;
    overflow: hidden; /* To ensure the pseudo-element doesn't exceed this container */
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/lynx.png'); /* Same path to your image */
    background-size: auto 100%; /* Same settings for your background */
    background-position: right center;
    background-repeat: no-repeat;
    opacity: 0.3; /* Adjust for desired translucency */
    z-index: -1; /* Place behind the content */
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Align items to the center */
    text-align: left;
    max-width: 1200px; /* Set a maximum width */
    margin: 0 auto; /* Center the content */
    gap: 40px; /* Add space between text and headline */
}

.hero-text {
    flex: 1; /* Allow text to expand */
    padding-right: 20px; /* Add padding to the right of the text */
}

.hero-title h1 {
    font-size: 2.5rem;
    background: linear-gradient(45deg, #b1a075, #a6c2d6); /* Example gradient */
    -webkit-background-clip: text;
    color: transparent; /* Makes the text take the color of the background */
    display: inline-block; /* Keep the header inline-block */
    vertical-align: top; /* Align the top of the text with the image */
    margin-right: 10px; /* Add margin to the right of the header, if needed */
}

.hero-section p {
    font-size: 1.2rem;
}

.hero-section button {
    margin-top: 20px;
    background-color: white;
    color: #4caf50;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-section button:hover {
    background-color: #3e8e41;
    color: white;
}
